<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PG Courses | Adithya College</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<header class="header">
    <h1>Postgraduate Programmes</h1>
    <p>Adithya College of Arts & Science</p>
</header>

<section class="courses-container">

    <div class="course-card">
        <img src="static/images/msc_cs.jpg" alt="MSc CS">
        <h3>M.Sc Computer Science</h3>
        <p>Duration: 2 Years</p>
        <p>Career: Software Architect, Researcher</p>
    </div>

    <div class="course-card">
        <img src="static/images/mcom.jpg" alt="M.Com">
        <h3>M.Com</h3>
        <p>Duration: 2 Years</p>
        <p>Career: Finance Manager, Auditor</p>
    </div>

</section>

</body>
</html>
